<div class="chat-header">
  <div class="left_header">
    <div class="room_main_name">
      不真面目な話をしよう。
    </div>
  </div>
  <div class="right_header">
    <div class="end_chat">
      <a href="#">考えることをやめる</a>
    </div>
  </div>

</div>

<div class="messages">
  
  <div class="message">
    <div class="upper_message">
      <div class="message_name">
        やまだくん
      </div>
      <div class="sent_time">
      210528＿0729
      </div>
    </div>
    <div class="lower_message">
      <div class="message_content">
      こんにちわんこそば
      </div>
    </div>
  </div>

  <div class="message">
    <div class="upper_message">
      <div class="message_name">
        たろうくん
      </div>
      <div class="sent_time">
      210528＿0830
      </div>
    </div>
    <div class="lower_message">
      <div class="message_content">
      おはようさぎ
      </div>
    </div>
  </div>

</div>


<div class="form"> 
<%# ブロック要素にすることによってフレックスボックスを使えるようにしている %>
  <div class="input_form">
    <input class="form_area" type="text" placeholder="メッセージを書くのだ">
    <label class="form_image">
      <span class="image_file">がぞ</span>
      <input type="file" class="hidden">
    </label>
  </div>
    <input class="submit_btn" type="submit" value="ごーごー" >
    
</div>