<div class="side-bar-header">
  <div class="login_user_name">
    <a href="#">だいきちゃん</a>
  </div>
  <div class="create_room">
    <a href = "#">チャットを作成する</a>
  </div>

</div>
  

<div class="rooms">
  <div class="room">  
    <div class="room_name">
      <a href="#">徹子の部屋</a>
    </div>
  </div>
  <div class="room">
    <div class="room_name">
      <a href="#">なんか匂う部屋</a>
    </div>
  </div>

</div>